﻿@model ConsumingWebApi.Models.Article

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODART)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditArticle", new { id = Model.Id_Art }) |
    @Html.ActionLink("Back to List", "GetAllArticles")
</p>  