﻿@model IEnumerable<ConsumingWebApi.Models.Article>
@{
    ViewBag.Title = "GetAllArticles";
}

<h2>GetAllProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODART)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESART)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODART)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESART)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditArticle", new { id = item.Id_Art, code = item.CODART, dep = item.departement, prod = item }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Art }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Art })
            </td>
        </tr>
    }

</table> 